<!DOCTYPE html>
<html>
  <head>
    <title>Drama Engine</title>

    <!-- 引用css, js -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/initial.css">
    <script src="../static/assets/js/common.js"></script>
    <!-- <script src="js/jquery/jquery-2.2.4.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    

    <div id="title_id">
        <div id="title_name">Drama Engine</div></br>
        <div id="title_detial">search the movie you want</div>
    </div>

    <div id="test_display">

        <div id="user_input" class="test_float">
          <div class="temp">
            <div id="Genres_input" class="input_type">
              <img src="../static/img/play2.png" class="icon_img"/> choose the genres of movie</br></br>

              <!-- 放種類的button -->
              <div id="Genres_form"></div>
            </div>

            <div id="Description_input" class="input_type">
              <img src="../static/img/play2.png" class="icon_img"> description the movie</br>
              <input id="Description" type="text" placeholder="ex:" ></br>
            </div>

            <div id="input_input" class="input_type">
              <button id="dealing" type="button" onclick="search()">search!</button>
            </div>

          </div>
        </div>

        <!-- 搜尋結果 -->
        <div id="sever_output" class="test_float">
        </div>

    </div>
  </body>
</html>