<!DOCTYPE html>
<html>
  <head>
    <title>Drama Engine</title>

    <!-- 引用css, js -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/movie_list.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/initial.css">
    
    <script src="../static/assets/js/recommation.js"></script>
    <!-- <script src="../static/assets/js/favorite.js"></script> -->
    <script src="../static/assets/js/common.js"></script>
    <!-- <script src="js/jquery/jquery-2.2.4.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>

    <nav class="stroke">
      <div id="title_name">Drama Engine</div>
      <ul>
        <li><a href="index.html" class="button">Search</a></li>
        <li><a href="recommend.html" class="button">Recommend</a></li>
        <li><a href="trend.html">trend</a></li>
      </ul>
    </nav>

    <div class="test_display">
        <div id="recommend_output" class="test_float">

        </div>
    </div>
  </body>
</html>