<!DOCTYPE html>
<html>
  <head>
    <title>Drama Engine</title>

    <!-- 引用css, js -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/initial.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="../static/assets/css/trendency.css">
    <script src="../static/assets/js/trenden.js"></script>
    <script src="../static/assets/js/common.js"></script>
    <!-- <script src="js/jquery/jquery-2.2.4.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>

    <nav class="stroke">
      <div id="title_name">Drama Engine</div>
      <ul>
        <li><a href="index.html" class="button">Search</a></li>
        <li><a href="recommend.html" class="button">Recommend</a></li>
        <li><a href="trend.html">trend</a></li>
      </ul>
    </nav>

    <div class="period_display">


      <div id="time_input" class="select_time period_float">

        <div class="tt">

        <!-- 選 時間 START -->
        <div id="period">
          <img src="../static/img/play2.png" class="icon_img"/> time period</br>
          </br>

          <div id="period_1" class="period_n sp" value="month" onclick="choose_period(event)">month</div>
          <div id="period_2" class="period_n sp" value="quarter" onclick="choose_period(event)">quarter</div>
          <div id="period_3" class="period_n sp" onclick="choose_period(event)">year</div>
          <div id="period_4" class="period_n sp" onclick="choose_period(event)">years</div>
          <div id="years_detial" class="sp">
          </div> 


        </div>
        <!-- 選 時間 END -->


        
      </div>

      </div>


        <!-- 搜尋結果 -->
        <div id="trend_output" class="period_float" style="overflow: scroll;">
          
        </div>

    </div>
  </body>
</html>