html {
    height: 100%;
}

body {
   
    background-image: url(../../img/movie3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    color:white;
    
}

#title_name{

    color:white;
    font-family:fantasy;
    font-weight: lighter;
    font-size:50px;

}

.test_display{

    display: flex;
    flex-direction: row ;
    justify-content: center;
    justify-content:space-evenly;

    position: fixed;
    top: 70%;
    left:50%;
    transform: translate(-50%,-50%);

    width: 100%;
    height: 85%;

}

.test_float{
    background: black;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;


    width: 45%;
    height: 80%;

}

.temp{

    display: flex;
    flex-direction: column ;
    justify-content: center;
    justify-content:space-between;


    width: 90%;
    height: 90%;

    
}

.inpt_type{

    display: flex;
    flex-direction: column ;
    justify-content: center;
    justify-content:space-between;
}

.user_input{

    font-size: 20px;
    justify-content: center;
}


.icon_img{

    width: 20px;
}

.input_text{

    width: 80%;

    position:relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}


#input_form{

    display: flex;
    flex-direction: row;
    flex-wrap:wrap;

    width: 80%;

    position:relative;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    

}

#input_input{

    display: flex;
    justify-content: center;
}



