.keyarr{

	background: #af513a;
    border: solid #af513a;
	width: max-content;
	border-width:3px 6px;
    border-radius: 25px;

	margin: 0px 5px;

	position:inherit;
	top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}

.key_C{
	border-style: none;
    background-color: #af513a;
    cursor: pointer;
    width: 3px;
}



#dealing {
	
	transition: all 0.3s ease;
	overflow: hidden;
	outline: none;
  }
#dealing {

	color:#ff7954;
	width: 130px;
	height: 30px;
	padding: 5px 10px;
	border: 2px solid #ff7954;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
  }
  
  

#dealing:hover {
	color: black;
	font-weight:bolder;
	background:#ff7954;
	border-radius: 15px;
  }


.fa-heart-o {
	
	cursor: pointer;
	
}

.fa:hover {
	color:red;
	cursor: pointer;
	
}
  